USE_LXC_BRIDGE="true"
LXC_BRIDGE="{{ network_interface }}"
LXC_ADDR="{{ network_interface_ip }}"
LXC_NETMASK="255.255.255.0"
LXC_NETWORK="10.0.3.0/24"
LXC_DHCP_RANGE="10.0.3.2,10.0.3.254"
LXC_DHCP_MAX="253"
LXC_DHCP_CONFILE=""
LXC_DOMAIN=""